<!--[if lt IE 8]>
<div style="border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;">
  <div style="position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;">
    <a href="#" onclick="javascript:this.parentNode.parentNode.style.display='none'; return false;">
      <img src="http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg" style="border: none;" alt="Закрыть предупреждение" />
    </a>
  </div>
  <div style="width: 700px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;">
    <div style="width: 75px; float: left;">
      <img src="http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg" alt="Предупреждение!"/>
    </div>
    <div style="width: 300px; float: left; font-family: Arial, sans-serif;">
      <div style="font-size: 14px; font-weight: bold; margin-top: 12px;">
         Вы используете устаревший браузер
      </div>
      <div style="font-size: 12px; margin-top: 6px; line-height: 12px;">
         Для использования сайта, пожалуйста, обновите ваш веб-браузер до современного.
      </div>
    </div>
    <div style="width: 75px; float: left;">
      <a href="http://www.firefox.com" target="_blank">
        <img src="http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg"
             style="border: none;" alt="Скачать Firefox 3.5" />
      </a>
    </div>
    <div style="width: 75px; float: left;">
      <a href="http://www.browserforthebetter.com/download.html" target="_blank">
        <img src="http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg"
             style="border: none;" alt="Скачать Internet Explorer" />
      </a></div>
    <div style="width: 73px; float: left;">
      <a href="http://www.apple.com/safari/download/" target="_blank">
        <img src="http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg"
             style="border: none;" alt="Скачать Safari" />
      </a>
    </div>
    <div style="float: left;">
      <a href="http://www.google.com/chrome" target="_blank">
        <img src="http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg"
             style="border: none;" alt="Скачать Google Chrome" />
      </a>
    </div>
  </div>
</div>
<![endif]-->
